.Projects,
.Users,
.Roles {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--colors-white);
  box-shadow: 9px 8px 15px 1px rgba(0, 0, 0, 0.2);
  .Table {
    .button-primary {
      padding: 10px;
      .anticon {
        color: "#fff";
        font-size: 20px;
      }
    }
    .inDev {
      background: #e0d027;
      padding: 5px 20px;
      border-radius: 20px;
    }
    .avatar {
      height: 35px;
      border-radius: 50%;
    }
    &-admin {
      .ant-table-cell {
        &:last-child {
          display: none;
        }
      }
    }
    ul {
      list-style: disc;
    }
  }
}

.modal-form {
  .ant-modal-footer {
    display: none;
  }
  .ant-modal-title {
    font-size: 26px;
  }
  .btns {
    .button {
      width: 49%;
    }
  }
  :where(.css-dev-only-do-not-override-apn68).ant-select-single {
    font-size: 14px;
    height: 32px;
    height: 40px;
  }
  .ant-select-selector {
    border-radius: 0px;
    min-height: 40px;
  }
}

